.header-div{
    background:  var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: var(--secondary);
}

.header-h2{
    text-transform: capitalize;
}

.header-div i{
    padding-top: 5px;
}