/* Base styles */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap&family=Inter&display=swap');

:root{
    --primary: #3c3a39;
    --secondary: #fff;
    --tertiary:#1c1a19;
    --others: #ff6b00;
    --alternative: #091e42;
    --dark: #1c1a19;
    --poppins: 'Poppins', sans-serif;
    --crete: 'Crete Round', serif;
    --roboto: 'Roboto', sans-serif;
    --inter: 'Inter', sans-serif;
}


*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}